
top{

width: 100%;
height: 15;
margin-top: 0%;
margin-bottom: 0%;
display: flex;
justify-content: center;
flex-direction: column;
background-image: url('image-fansite/voie-lactée.jpg');

}

h1{
    text-align: center;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
}

li a:hover {
    background-color: #111;
}




h1{

    color: aliceblue;
    font-size: 300%;
    font-weight: bold;
      
    }
    
    body{
      
        width: 100%;
        height: auto;
        background-image: url('image-fansite/soleil.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        margin:0;
       
    }
   .content{
    display: flex;
    flex-direction: column;
   }
   img{
    width: 50%;
    height: auto;
    margin-left: 320px;
   }

    .vid{
        width: 100%;
        height: 100%;
        margin-left: 8%;
       
        
    }

    p{
        color: rgb(251, 252, 253);
        margin-left: 20px;
        font-size: large;
        font-weight: bold;
        text-align: center;

    }

    span{
        color: chartreuse;
        font-size: xx-large;
        animation-duration: 2.5s;
        animation-name: slidein}
      
      @keyframes slidein {
        from {
          margin-right: 100%;
          width: 100%;
        }

        to {
          margin-left: 0%;
          width: 100%;
        }
      }

    h3{
        color: aliceblue;
        display: flex;
        justify-content: flex-end;
        margin-right: 20%;
        line-height: 10%;
    }
    


footer{

    
    background: no-repeat;
    background-color: #111;
    background-size: 60%;
    background-position: left;
    background-image: url('image-fansite/système-solaire.jpg') ;
    position:absolute;
    margin-bottom: 0px;  
    width:100%;
    height:100px;
}
    
/*formulaire*/

.content-form{
    display: flex;
    
}


.vidéo{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  
  }
  h2{
    color: rgb(127, 255, 0);
  } 
  i{
      color: chartreuse;

  }
.content-form>p {
  margin-top: 0px;
  color: chartreuse;
  font-style: italic;
  
}  
button:hover{
  background-color: rgb(43, 255, 0);
}
fieldset {
  margin-bottom: 15px;
  padding: 10px;
  width: 50%;
  height: auto;
}
 
legend {
  padding: 0px 3px;
  font-weight: bold;
  font-variant: small-caps;
  color: chartreuse;
}
 
label {
  width: 110px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
  color: rgb(255, 255, 255);
}
 
em {
  font-weight: bold;
  font-style: normal;
  color: rgb(248, 5, 5);
  
  
}
 
input:focus {
  background: #eaeaea;
} 
 
input, textarea {
  width: 249px;
}

textarea {
  height: 100px;
}
 
select {
  width: 254px;
}
 
input[type=checkbox] {
  width: 10px;
}
 
input[type=submit] {
  width: 150px;
  padding: 10px;
  
}
h3{
  color: aliceblue;
  display: flex;
  justify-content: flex-end;
  margin-right: 20%;
  line-height: 10%;
}  




